<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[상품목록 조회]</title>
</head>
<body>
    <form action="">
        상품이름: <input type="text" name="item_name">
        <input type="submit" value="검색">
    </form>
    <table border="1">
        <tr>
            <th>상품코드</th>
            <th>상품이름</th>
            <th>재고수량</th>
            <th>수정/삭제</th>
        </tr>
        {% for i in item %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.item_name}}</td>
            <td>{{i.item_count}}</td>
            <td><a href="#">수정</a>/<a href="#">삭제</a> </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>