<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[상품별 판매량 조회]</title>
</head>
<body>
    <h1>[상품별 판매량 조회]</h1>
    <table border="1">
        <tr>
            <th>상품코드</th>
            <th>상품명</th>
            <th>주문수량</th>
        </tr>
        {% for i in item %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.item_name}}</td>
            <td>{{i.order_set.all.count}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>