{# common/base.html을 상속받겠음 #}
{% extends 'common/base.html' %}
{% block title %}[게시판]{% endblock title%}

{% block body %}
<script>
  function showUpdateForm(param){
    $("#writeForm").hide();
    $("#updateForm").show();

    $.ajax({
      url: '{% url "board:update_reply" id=board.id %}',
      type: 'get',
      data: {'rid': param},
      success: function(res){
        $("#replyTextUpdate").val(res.replyText);
        $("#rid").val(param);
      }
    });
  }
  
  function updateReply(){
    let rid = $("#rid").val();
    let replyText = $("#replyTextUpdate").val();
    let data = {'rid': rid, 'replyText': replyText};
    if (replyText.length === 0){
      alert('댓글이 비어있음')
      return;
    }
    $.ajax({
      url: '{% url "board:update_reply" id=board.id %}',
      type : 'post',
      headers : {'X-CSRFTOKEN': '{{csrf_token}}'},
      data: JSON.stringify(data),
      success: function(res){
        $("#replyTextUpdate").val("");
        $("#updateForm").hide();
        $("#writeForm").show();
        loadReplyList();
      }
    });
  }

  function writeReply(){
    let replyText = $("#replyTextWrite").val();
    let data = { 'replyText': replyText }
    if (replyText.length === 0){
      alert('댓글이 비어있음')
      return;
    }
    $.ajax({
      url: '{% url "board:write_reply" id=board.id %}',
      type : 'post',
      headers : {'X-CSRFTOKEN': '{{csrf_token}}'},
      data : JSON.stringify(data),
      success : function(result){
        $("#replyTextWrite").val("");
        loadReplyList();
      }
    });
  }
  
  function deleteReply(param){
    let data = {'rid': param};
    $.ajax({
      url: '{% url "board:delete_reply" id=board.id %}',
      type : 'post',
      headers : {'X-CSRFTOKEN': '{{csrf_token}}'},
      data: JSON.stringify(data),
      success : function(response){
        loadReplyList();
      }
    });
  }

  $(document).ready(function(){
    $("#updateForm").hide();
    loadReplyList();

    $("#btnWrite").click(function(){
      writeReply();
    });
    
    $("#btnUpdate").click(function(){
      updateReply();
    });

  });

  function loadReplyList(){
    $.ajax({
      url: '{% url "board:load_reply" id=board.id %}',
      type: 'get',
      success: function(res){
        // console.log(res)
        let str = '<table>';
        $.each(res.replyList, function(index, item){
          let replacedDate = item.inputDate.replace("T"," ").replace("Z","").split(".")[0]
          str += "<tr>";
          str += "<td>" + item.replyText + "</td>";
          str += "<td>" + item.username + "</td>";
          str += "<td>" + replacedDate + "</td>";
          str += "<td>"
          if('{{user.username}}' === item.username){
            str += "<a href='#' onclick = 'showUpdateForm("+ item.id +")'>수정</a>";
            str += "<a href='#' onclick = 'deleteReply("+ item.id +")'>삭제</a>";
          }
          str += "</td>"
          str += "</tr>";
        });
        str += "</table>";
        $("#replyList").html(str);
      }
    });
  }
</script>
<h1>글 보기</h1>
<table>
  <tr>
    <th>{{ board.id }}</th>
    <th>{{ board.title }}</th>
    <td>{{ board.view_count }}</td>
  </tr>
  <tr>
    <td colspan="2">{{ board.input_date|date:'y.m.d H:i' }}</td>
    <td>{{ board.writer }}</td>
  </tr>
  <tr>
    <td colspan="4">{{ board.content }}</td>
  </tr>
  {% if board.original_file_name %}
  <tr>
    <th>첨부파일</th>
    <td colspan="3">
        <a href="{% url 'board:downlad' id=board.id %}">{{board.original_file_name}}</a>
    </td>
  </tr>
  {% endif %}
</table>
<!-- 수정/삭제 -->
<!-- username끼리 비교하려면 -->
{% if board.author.username == user.username %}
<a href="{% url 'board:update' board.id %}">수정</a> /
<a href="{% url 'board:delete' board.id %}" onclick="javascript: return confirm('정말 삭제 하시겠어요?')">삭제</a>
{% endif %}
<div id = 'replyArea'>
  <!-- 댓글 목록 표시할 곳 -->
  <div id="replyList">
    <!-- board 객체 뿐만 아니라 board와 FK로 엮인 객체는 -->
    <!-- board.모델이름_set으로 가져올 수 있다 -->
  </div>
  <!-- 댓글 입력 폼 -->
  <div id="replyForm">
    <div id="writeForm">
      <textarea id="replyTextWrite"></textarea>
      <input type="button" id="btnWrite" value="댓글쓰기">
    </div>
    <div id="updateForm">
      <input type="hidden" id="rid">
      <textarea id="replyTextUpdate"></textarea>
      <input type="button" id="btnUpdate" value="댓글수정">
    </div>
  </div>
</div>
<form action="{% url 'board:index' %}">
  <input type="submit" value="목록으로" />
</form>
{% endblock body %}