<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>아이디</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>성</th>
            <td>
                {{user.last_name}}
            </td>
        </tr>
        <tr>
            <th>이름</th>
            <td>
                {{user.first_name}}
            </td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>
                {{user.email}}
            </td>
        </tr>
    </table>
    <a href="{% url 'common:update' %}">회원정보수정</a>
    <a href="{% url 'common:delete' %}" onclick="javascript: return confirm('정말 삭제 하시겠어요?')">회원정보삭제</a>
</body>
</html>